.sepleft {
    border-left: 2px dashed gray;
}
.noM {
    margin: 0px;
}
.vm-icon {
    border-left: 40px solid transparent;
    margin-bottom: 80px;
    margin-top: 15px;
}
.modal-content-body {
    border-left: 15px solid transparent
}